.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 5vh;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.game_play {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.game_section1 {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 1vh;
  margin-bottom: auto;
}

.game_count {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.game_count span {
  justify-self: end;
}

.game_question {
  background-color: var(--main_color);
  height: 15vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  font-size: 1.2em;
  border-radius: 7px;
  color: var(--text_color);
}

.game_answers {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20%;
  width: 100%;
  height: 35vh;
  padding: 2% 4%;
  grid-template-areas:
    "answer ."
    ". .";
}

.game_answers button {
  background-color: var(--main_color);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 1em;
}

.game_answers button:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*-----------------Score--------------------------*/

.game_score {
  background-color: var(--main_color);
  width: 70vw;
  max-width: 700px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3vh;
  color: var(--text_color);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.game_score h1 {
  font-size: 2.5em;
  border-bottom: solid 2px var(--text_color);
}

.game_myscore {
  font-size: 1.3em;
}

.game_ranking {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  gap: 1vh;
}

.game_ranking_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .game_question {
    font-size: 1em;
  }

  .game_answers {
    gap: 10%;
    display: flex;
    flex-direction: column;
    height: 50vh;
  }

  .game_answer {
    height: 100%;
  }

  .game {
    height: 72vh;
  }
}
