.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.home_form {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 8% 4% 8%;
  background-color: rgb(250, 245, 245);
  border-radius: 10px;
  gap: 2vh;
}

.home_form h1 {
  margin-bottom: 15%;
}

.home_form button {
  margin: 10% 0;
}

.on {
  font-size: 0.9em;
  color: red;
  font-weight: 500;
}

.off {
  display: none;
}

@media screen and (max-width: 900px) {
  .home_form {
    margin-top: 2vh;
  }

  .home_form h1 {
    font-size: 1.8em;
    margin-top: 2vh;
    margin-bottom: 10%;
  }
}
